header {
    background-color: #D93611;
}

main {
    div {
        img {
            width: 100%;
            max-width: 500px;
        }
    }
}

.card-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 20%;
    a {
        text-decoration: none;
        font-size: .8em;
        width: 100%;
    }
    img {
        max-width: 70px;
    }
}